<template  slot="waiting">
  <v-wait for="loading">
    <CRow>
      <CCol col="12" xl="8">
        <CCard>
          <CCardHeader> Vouchers </CCardHeader>
          <CCardBody>
            <CDataTable
              hover
              striped
              :items="items"
              :fields="fields"
              :items-per-page="5"
              clickable-rows
              :active-page="activePage"
              @row-clicked="rowClicked"
              :pagination="{ doubleArrows: false, align: 'center' }"
              @page-change="pageChange"
            >
              <template #status="data">
                <td>
                  <CBadge :color="getBadge(data.item.status)">
                    {{ data.item.status }}
                  </CBadge>
                </td>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </v-wait>
</template>

<script>
import axois from "axios";
import { CODE_SUCCESS } from "../../const";
export default {
  name: "Vouchers",
  data() {
    return {
      items: [],
      fields: [
        { key: "code", _classes: "font-weight-bold" },
        { key: "name", label: "Name" },
        { key: "discount" },
        { key: "time_start" },
        { key: "time_end" },
      ],
      activePage: 1,
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  created() {
    this.getListVouchers();
  },
  methods: {
    getBadge(status) {
      switch (status) {
        case "Active":
          return "success";
        case "Inactive":
          return "secondary";
        case "Pending":
          return "warning";
        case "Banned":
          return "danger";
        default:
          "primary";
      }
    },
    rowClicked(item, index) {
      this.$router.push({ path: `vouchers/${item.id}` });
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    async getListVouchers() {
      this.$wait.start("loading");
      const response = await axois.get(
        process.env.VUE_APP_ROOT_API + "/vouchers",
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.items = response.data.data;
      }

      this.$wait.end("loading");
    },
  },
};
</script>
