<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1 class="text-center">Create Voucher Data</h1>
                <p class="text-muted text-center">Input voucher data</p>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput placeholder="Name" v-model="voucher.name" label="Name:">
                </CInput>
                <CTextarea
                  v-model="voucher.description"
                  placeholder="Description"
                  label="Description:"
                ></CTextarea>
                <CInput
                  placeholder="Discount"
                  label="Discount:"
                  type="number"
                  v-model="voucher.discount"
                />
                <div class="dp-flex">
                  <label>Time Start:</label>
                  <vuejs-datepicker
                    class="mb-15 col-4"
                    v-model="voucher.time_start"
                  ></vuejs-datepicker>
                  <label>Time End:</label>
                  <vuejs-datepicker
                    class="mb-15 col-4"
                    v-model="voucher.time_end"
                  ></vuejs-datepicker>
                </div>
                <CButton color="success" @click="submit"
                  >Create Account</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import vuejsDatepicker from "vuejs-datepicker";
import { CODE_SUCCESS, CODE_REQUIRE_PARAMS } from "../../const";
export default {
  components: {
    vuejsDatepicker,
  },
  name: "CreateVoucher",
  data() {
    return {
      voucher: {},
      colorWarning: "danger",
      currentAlertCounter: 0,
      message: "",
    };
  },
  created() {
    this.getVoucher();
  },
  methods: {
    formatDate(date) {
      if (date == null) return;
      var dateString =
        date.getUTCFullYear() +
        "-" +
        ("0" + (date.getUTCMonth() + 1)).slice(-2) +
        "-" +
        ("0" + date.getUTCDate()).slice(-2);

      return dateString;
    },
    async getVoucher() {
      const id = this.$route.params.id;
      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + `/vouchers/${id}`,
        this.voucher,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.voucher = response.data.data;
      }
    },
    showAlert(message) {
      this.message = message;
      this.currentAlertCounter = 5;
      window.scrollTo(0, 0);
    },
  },
};
</script>
<style scoped>
.mb-15 {
  margin-bottom: 1rem;
}
.dp-flex {
  display: flex;
}
.no-pd {
  padding-left: unset;
}
</style>
