<template  slot="waiting">
  <v-wait for="loading">
    <CRow>
      <CCol col="12">
        <CCard>
          <CCardHeader> Users </CCardHeader>
          <CCardBody>
            <CDataTable
              hover
              striped
              :items="items"
              :fields="fields"
              :items-per-page="5"
              clickable-rows
              :active-page="activePage"
              @row-clicked="rowClicked"
              :pagination="{ doubleArrows: false, align: 'center' }"
              @page-change="pageChange"
            >
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </v-wait>
</template>

<script>
import axois from "axios";
import { CODE_SUCCESS } from "../../const";
export default {
  name: "Bills",
  data() {
    return {
      items: [],
      fields: [
        {
          key: "product_name",
          _classes: "font-weight-bold",
          label: "Product Name",
        },
        { key: "from_address", label: "From" },
        { key: "to_address", lablel: "To" },
        { key: "distance", label: "Distance" },
        { key: "comment" },
        { key: "amount", label: "amount" },
      ],
      activePage: 1,
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  created() {
    this.getUnAssignBills();
  },
  methods: {
    rowClicked(item, index) {
      this.$router.push({ path: `users/${item.id}` });
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    async getUnAssignBills() {
      this.$wait.start("loading");
      const response = await axois.get(
        process.env.VUE_APP_ROOT_API + "/bills/list/no-user",
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.items = response.data.data;
      }
      this.$wait.end("loading");
    },
  },
};
</script>
