<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm v-on:submit.prevent="onSubmit">
                <h1 class="text-center">Create Bill</h1>
                <p class="text-muted text-center">Input Bill Data</p>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput
                  placeholder="Product Name"
                  label="Product Name:"
                  v-model="bill.product_name"
                >
                </CInput>
                <CInput
                  placeholder="From Address"
                  label="From Address:"
                  v-model="bill.from_address"
                >
                </CInput>
                <CInput
                  placeholder="Receive Address"
                  label="Receive Address:"
                  v-model="bill.to_address"
                >
                </CInput>
                <CInput
                  placeholder="Comment"
                  label="Comment:"
                  v-model="bill.comment"
                >
                </CInput>
                <CSelect
                  :value.sync="bill.product_type"
                  :options="productType"
                  label="Product Type:"
                >
                </CSelect>
                <CRow form class="form-group">
                  <CCol sm="3">Delivery In Office Time: </CCol>
                  <CInputRadioGroup
                    class="col-sm-9"
                    :options="deliveryOptions"
                    :inline="true"
                    :value.sync="bill.office_time"
                  />
                </CRow>
                <CSelect
                  :value.sync="bill.area"
                  :options="districts"
                  label="Area Delivery:"
                >
                </CSelect>
                <CInput
                  placeholder="Latitude From"
                  label="Latitude From:"
                  v-model="bill.latitude_from"
                >
                </CInput>
                <CInput
                  placeholder="Latitude To"
                  label="Latitude To:"
                  v-model="bill.latitude_to"
                >
                </CInput>
                <CInput
                  placeholder="Longitude From"
                  label="Longitude From:"
                  v-model="bill.longitude_from"
                >
                </CInput>
                <CInput
                  placeholder="Longitude To"
                  label="Longitude To:"
                  v-model="bill.longitude_to"
                >
                </CInput>
                <CButton type="submit" color="success"> Create Bill</CButton>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";
import { CODE_REQUIRE_PARAMS, CODE_SUCCESS } from "../../const";
export default {
  name: "CreateBill",
  components: {
    Cropper,
  },
  data() {
    return {
      bill: {
        office_time: 1,
      },
      productTypes: [],
      districts: [],
      colorWarning: "danger",
      currentAlertCounter: 0,
      message: "",
      img: "",
      deliveryOptions: ["Yes", "No"],
    };
  },
  created() {
    this.getProductType();
    this.getDistrict();
  },
  methods: {
    changeDeliveryTime(event) {
      console.log("events", event);
    },
    showAlert(message) {
      this.message = message;
      this.currentAlertCounter = 5;
      window.scrollTo(0, 0);
    },
    async getDistrict() {
      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + "/district",
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
            "Content-Type": "multipart/form-data",
            Accept: "application/json",
          },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.districts = response.data.data;
      }

      this.$wait.end("loading");
    },
    async getProductType() {
      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + "/product-type",
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
            "Content-Type": "multipart/form-data",
            Accept: "application/json",
          },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.productType = response.data.data;
      }

      this.$wait.end("loading");
    },
    async onSubmit() {
      console.log("SUBMIT", this.bill);
      const response = await axios.post(
        process.env.VUE_APP_ROOT_API + "/bills",
        this.bill,
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
            "Content-Type": "multipart/form-data",
            Accept: "application/json",
          },
        }
      );
      if (response.data.code == CODE_SUCCESS) {
        this.colorWarning = "primary";
      } else if (response.data.code == CODE_REQUIRE_PARAMS) {
        this.colorWarning = "danger";
      }
      this.$wait.end("loading");
      this.showAlert(response.data.message);
    },
  },
};
</script>
