<template>
  <div class="d-flex align-items-center">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1 class="text-center">Create New Notification</h1>
                <p class="text-muted text-center">Input notification data</p>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput
                  v-model="title"
                  required
                  placeholder="Titile"
                  label="Title:"
                >
                </CInput>
                <CInput
                  v-model="description"
                  placeholder="Description"
                  required
                  label="Description:"
                >
                </CInput>
                <CTextarea
                  v-model="content"
                  label="Content:"
                  placeholder="Content"
                >
                </CTextarea>
                <CInput
                  v-model="targetLink"
                  placeholder="Target Link"
                  label="Target Link:"
                ></CInput>
                <CSelect
                  :value.sync="userType"
                  :options="userOption"
                  label="User Type:"
                >
                </CSelect>
                <CButton type="submit" @click="submit" color="success" block
                  >Create Notification</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import { CODE_REQUIRE_PARAMS, CODE_SUCCESS } from "../../const";
import { USER_OPTION } from "../../const/notifications";
export default {
  name: "CreateNotification",
  data() {
    return {
      title: "",
      targetLink: "",
      userType: 0,
      description: "",
      content: "",
      image: null,
      colorWarning: "danger",
      currentAlertCounter: 0,
      message: "",
      userOption: USER_OPTION,
    };
  },
  methods: {
    showAlert(message) {
      this.message = message;
      this.currentAlertCounter = 5;
      window.scrollTo(0, 0);
    },
    async submit() {
      const params = {
        title: this.title,
        content: this.content,
        description: this.description,
        target_link: this.targetLink,
        type: 0,
        user_type: this.userType,
      };
      this.$wait.start("loading");
      const response = await axios.post(
        process.env.VUE_APP_ROOT_API + "/notifications",
        params,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      this.$wait.end("loading");
      if (response.data.code == CODE_SUCCESS) {
        this.colorWarning = "primary";
      } else if (response.data.code == CODE_REQUIRE_PARAMS) {
        this.colorWarning = "danger";
      }

      this.showAlert(response.data.message);
    },
  },
};
</script>
