<template>
  <CRow>
    <CCol col="12">
      <CCard>
        <CCardHeader> Notifications </CCardHeader>
        <CCardBody>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            clickable-rows
            :active-page="activePage"
            @row-clicked="rowClicked"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange"
          >
            <template #status="data">
              <td>
                <CBadge :color="getBadge(data.item.status)">
                  {{ data.item.status }}
                </CBadge>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import NotificationData from "./NotificationData";
import axios from "axios";
export default {
  name: "Notifications",
  data() {
    return {
      items: NotificationData,
      fields: [
        { key: "title", label: "Title", _classes: "font-weight-bold" },
        { key: "description" },
        { key: "content" },
      ],
      activePage: 1,
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  created() {
    this.getNotifications();
  },
  methods: {
    async getNotifications() {
      this.$wait.start("loading");
      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + "/notifications"
      );
      console.log("items", response.data);

      this.items = response.data.data;
      this.$wait.end("loading");
    },
    getBadge(status) {
      switch (status) {
        case "Active":
          return "success";
        case "Inactive":
          return "secondary";
        case "Pending":
          return "warning";
        case "Banned":
          return "danger";
        default:
          "primary";
      }
    },
    rowClicked(item, index) {
      this.$router.push({ path: `/notifications/${item.id}` });
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
  },
};
</script>