<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1 class="text-center">Notification Data</h1>
                <p class="text-muted text-center">Edit Notification Here</p>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput
                  v-model="notification.title"
                  placeholder="Titile"
                  label="Title:"
                >
                </CInput>
                <CInput
                  v-model="notification.description"
                  placeholder="Description"
                  label="Description:"
                >
                </CInput>
                <CTextarea
                  v-model="notification.content"
                  label="Content:"
                  placeholder="Content"
                  rows="5"
                >
                </CTextarea>
                <CInput
                  v-model="notification.target_link"
                  placeholder="Target Link"
                  label="Target Link:"
                ></CInput>
                <CSelect
                  :value.sync="notification.user_type"
                  :options="userOption"
                  label="User Type:"
                  :readonly="true"
                  disabled
                >
                </CSelect>
                <CButton @click="update" color="success"
                  >Update Notification</CButton
                >
                <CButton
                  @click="confirmModal = true"
                  class="float-right"
                  color="danger"
                  >Delete Notification</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
      <CModal
        :show.sync="confirmModal"
        :no-close-on-backdrop="true"
        :centered="true"
        title="Confirm delete notification"
        size="md"
        color="dark"
      >
        <p class="text-center">Are you sure delete this notification?</p>
        <template #header class="text-center">
          <h6 class="modal-title">Confirm delete notification</h6>
          <CButtonClose @click="confirmModal = false" class="text-white" />
        </template>
        <template #footer>
          <CButton @click="confirmModal = false" color="btn btn-secondary"
            >Cancel</CButton
          >
          <CButton @click="deleteNoti" color="danger">OK</CButton>
        </template>
      </CModal>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import { CODE_SUCCESS } from "../../const";
import { USER_OPTION } from "../../const/notifications";
export default {
  name: "Notification",
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.notiOpened = from.fullPath.includes("notifications");
    });
  },
  data() {
    return {
      notiOpened: null,
      visibleData: null,
      currentAlertCounter: 0,
      colorWarning: "primary",
      message: "",
      confirmModal: false,
      notification: {},
      userOption: USER_OPTION,
    };
  },
  created() {
    this.getNotification();
  },
  computed: {
    fields() {
      return [
        { key: "key", label: "Attribute", _style: "width:150px" },
        { key: "value", label: "Value", _style: "width:150px;" },
      ];
    },
  },
  methods: {
    async getNotification() {
      const id = this.$route.params.id;

      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + `/notifications/${id}`,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.notification = response.data.data;
      }
    },
    async deleteNoti() {
      const id = this.$route.params.id;
      const response = await axios.delete(
        process.env.VUE_APP_ROOT_API + `/notifications/${id}`,
        this.notification,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );
      if (response.data.code == CODE_SUCCESS) {
        this.confirmModal = false;
        this.$router.push({ path: "/notifications" });
      }
    },
    async update() {
      const id = this.$route.params.id;
      const response = await axios.put(
        process.env.VUE_APP_ROOT_API + `/notifications/${id}`,
        this.notification,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      this.colorWarning =
        response.data.code == CODE_SUCCESS ? "primary" : "danger";

      this.showAlert(response.data.message);
    },
    showAlert(message) {
      this.currentAlertCounter = 5;
      this.message = message;
      window.scrollTo(0, 0);
    },
    goBack() {
      this.notiOpened
        ? this.$router.go(-1)
        : this.$router.push({ path: "/notifications" });
    },
  },
};
</script>
