<template>
  <div class="c-app flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <CInput
                    placeholder="Username"
                    v-model="email"
                    autocomplete="username email"
                  >
                    <template #prepend-content
                      ><CIcon name="cil-user"
                    /></template>
                  </CInput>
                  <CInput
                    placeholder="Password"
                    type="password"
                    v-model="password"
                    autocomplete="curent-password"
                  >
                    <template #prepend-content
                      ><CIcon name="cil-lock-locked"
                    /></template>
                  </CInput>
                  <CRow>
                    <CCol col="6" class="form-group text-left">
                      <CButton color="primary" class="px-4" @click="login">
                        Login
                      </CButton>
                    </CCol>
                    <CCol col="6" class="text-right">
                      <CButton color="link" class="px-0"
                        >Forgot password?</CButton
                      >
                      <CButton color="link" class="d-lg-none"
                        >Register now!</CButton
                      >
                    </CCol>
                  </CRow>
                  <CAlert
                    color="danger"
                    :show.sync="currentAlertCounter"
                    closeButton
                  >
                    Login Fail
                  </CAlert>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard
              color="primary"
              text-color="white"
              class="text-center py-5 d-md-down-none"
              body-wrapper
            >
              <CCardBody>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <CButton color="light" variant="outline" size="lg">
                  Register Now!
                </CButton>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import { CODE_SUCCESS } from "../../const";
export default {
  name: "Login",
  data() {
    return {
      email: "superadmin@gmail.com",
      password: "123456",
      currentAlertCounter: 0,
    };
  },
  methods: {
    loginSuccess(data) {},
    async login() {
      const response = await axios.post(
        process.env.VUE_APP_ROOT_API + "/login",
        {
          email: this.email,
          password: this.password,
        }
      );
      if (response.data.code == CODE_SUCCESS) {
        console.log("USER DATA", response.data.data.token);
        localStorage.setItem(
          "user_info",
          JSON.stringify(response.data.data.user_data)
        );
        localStorage.setItem("token", response.data.data.token);
        this.$router.push({ path: `dashboard` });
      } else {
        this.currentAlertCounter = 5;
      }
    },
  },
};
</script>
