<template>
  <div class="d-flex align-items-center">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1 class="text-center">Master Setting Data</h1>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput
                  v-model="master_setting.unit_price"
                  required
                  type="number"
                  placeholder="Unit price"
                  label="Unit price:"
                >
                </CInput>
                <CInput
                  v-model="master_setting.trade"
                  placeholder="Trade"
                  required
                  label="Trade:"
                >
                </CInput>
                <CInput
                  v-model="master_setting.warning_point"
                  label="Warning point:"
                  type="number"
                  placeholder="Warning point"
                >
                </CInput>
                <CInput
                  v-model="master_setting.support_cancel_bill"
                  placeholder="Support cancel bill fee"
                  label="Support cancel bill fee:"
                ></CInput>
                <CInput
                  v-model="master_setting.max_bill_per_hour"
                  placeholder="Maximum bill per hour"
                  type="number"
                  label="Maximum bill per hour:"
                ></CInput>
                <CButton type="submit" @click="submit" color="success" block
                  >Update Settings</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import { CODE_REQUIRE_PARAMS, CODE_SUCCESS } from "../../const";
import { USER_OPTION } from "../../const/notifications";
export default {
  name: "MasterSetting",
  data() {
    return {
      colorWarning: "danger",
      currentAlertCounter: 0,
      message: "",
      master_setting: {},
    };
  },
  created() {
    this.getData();
  },
  methods: {
    showAlert(message) {
      this.message = message;
      this.currentAlertCounter = 5;
      window.scrollTo(0, 0);
    },
    async submit() {
      const response = await axios.put(
        process.env.VUE_APP_ROOT_API + "/settings",
        this.master_setting,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.colorWarning = "success";
      } else {
        this.colorWarning = "danger";
      }
      this.showAlert(response.data.message);
    },
    async getData() {
      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + "/settings",
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      this.master_setting = response.data.data;
    },
  },
};
</script>
