<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1 class="text-center">Create new driver user</h1>
                <p class="text-muted text-center">Input driver data</p>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput
                  placeholder="Full Name"
                  label="Full Name:"
                  v-model="user.full_name"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user"
                  /></template>
                </CInput>
                <CInput
                  label="ID Card:"
                  placeholder="ID Card"
                  v-model="user.id_card"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user"
                  /></template>
                </CInput>
                <CInput
                  placeholder="Email"
                  label="Email:"
                  type="email"
                  prepend="@"
                  v-model="user.email"
                />
                <CInput
                  label="Phone Number:"
                  placeholder="Phone Number"
                  prepend="+84"
                  type="number"
                  v-model="user.phone_number"
                />
                <CInput
                  label="Bank Account Number:"
                  placeholder="Bank Accnount Number"
                  v-model="user.bank_account_number"
                  type="number"
                >
                  <template #prepend-content
                    ><CIcon name="cil-dollar" />
                  </template>
                </CInput>
                <CInput
                  label="Bank Account Name:"
                  placeholder="Bank Account Name"
                  v-model="user.bank_account_name"
                >
                  <template #prepend-content
                    ><CIcon name="cil-dollar" />
                  </template>
                </CInput>
                <CSelect
                  :value.sync="user.gender"
                  :options="userGender"
                  label="Gender:"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user" />
                  </template>
                </CSelect>
                <CInput
                  label="Address:"
                  placeholder="Address"
                  v-model="user.address"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user" />
                  </template>
                </CInput>
                <!-- <CInputFile
                  label="Avatar:"
                  type="file"
                  @change="uploadAvatar($event)"
                  v-model="user.avt_url"
                >
                </CInputFile> -->
                <CButton color="success" @click="submit"
                  >Create Account</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";
import { CODE_REQUIRE_PARAMS, CODE_SUCCESS } from "../../const";
import { USER_GENDER } from "../../const/gender";
export default {
  name: "CreateUser",
  components: {
    Cropper,
  },
  data() {
    return {
      user: {},
      userGender: USER_GENDER,
      colorWarning: "danger",
      currentAlertCounter: 0,
      message: "",
      img: "",
    };
  },
  methods: {
    showAlert(message) {
      this.message = message;
      this.currentAlertCounter = 5;
      window.scrollTo(0, 0);
    },
    uploadAvatar($event) {
      this.user.avt_url = event.target.files[0];
    },
    async submit() {
      this.$wait.start("loading");
      let formData = new FormData();
      formData.append("full_name", this.user.full_name);
      formData.append("id_card", this.user.id_card);
      formData.append("email", this.user.email);
      formData.append("phone_number", this.user.phone_number);
      formData.append("bank_account_number", this.user.bank_account_number);
      formData.append("bank_account_name", this.user.bank_account_name);
      formData.append("gender", this.user.gender);
      formData.append("address", this.user.address);
      formData.append("avt_url", this.user.avt_url);

      const response = await axios.post(
        process.env.VUE_APP_ROOT_API + "/users",
        formData,
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
            "Content-Type": "multipart/form-data",
            Accept: "application/json",
            type: "formData",
          },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.colorWarning = "primary";
        this.user.full_name = null;
        this.$router.push({ path: `users` });
      } else if (response.data.code == CODE_REQUIRE_PARAMS) {
        this.colorWarning = "danger";
        console.log("RESPONSE FAIL");
      }

      this.$wait.end("loading");
      this.showAlert(response.data.message);
    },
  },
};
</script>
