<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow>
        <!-- <CCol md="3">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <img
              class="rounded-circle mt-5"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU"
            />
            <span class="font-weight-bold">{{
              this.userDetail.full_name
            }}</span>
            <span class="text-black-50">{{ this.userDetail.email }}</span>
            <span> </span>
          </div>
          <CButton
            col="6"
            class="float-right"
            color="primary"
            @click="userChart()"
            >Statistics
          </CButton>
          <CButton
            col="6"
            class="float-left"
            color="danger"
            @click="bannedModal = true"
            >Ban user
          </CButton>
        </CCol> -->
        <CCol md="12">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm>
                <h1 class="text-center">Driver Information</h1>
                <p class="text-muted text-center">Input driver data</p>
                <CAlert
                  :color="colorWarning"
                  :show.sync="currentAlertCounter"
                  closeButton
                >
                  {{ message }}
                  <CProgress
                    :max="5"
                    :value="currentAlertCounter"
                    height="3px"
                    color="danger"
                    animate
                    hidden
                  />
                </CAlert>
                <CInput
                  placeholder="Code"
                  label="Code:"
                  autocomplete="code"
                  :readonly="true"
                  v-model="userDetail.code"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user"
                  /></template>
                </CInput>
                <CInput
                  placeholder="Full Name"
                  label="Full Name:"
                  autocomplete="full_name"
                  v-model="userDetail.full_name"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user"
                  /></template>
                </CInput>
                <CInput
                  label="ID Card:"
                  placeholder="ID Card"
                  autocomplete="id_card"
                  type="number"
                  v-model="userDetail.id_card"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user"
                  /></template>
                </CInput>
                <CInput
                  placeholder="Email"
                  label="Email:"
                  autocomplete="email"
                  prepend="@"
                  v-model="userDetail.email"
                />
                <CInput
                  label="Phone Number:"
                  placeholder="Phone Number"
                  autocomplete="phone_number"
                  prepend="+84"
                  type="number"
                  v-model="userDetail.phone_number"
                />
                <CInput
                  label="Bank Number:"
                  placeholder="Bank Number"
                  autocomplete="bank_account_number"
                  v-model="userDetail.bank_account_number"
                >
                  <template #prepend-content
                    ><CIcon name="cil-dollar" />
                  </template>
                </CInput>
                <CInput
                  label="Bank Name:"
                  placeholder="Bank Name"
                  autocomplete="bank_account_name"
                  v-model="userDetail.bank_account_name"
                >
                  <template #prepend-content
                    ><CIcon name="cil-dollar" />
                  </template>
                </CInput>
                <CSelect
                  :value.sync="userDetail.gender"
                  :options="userGender"
                  label="Gender:"
                >
                  <template #prepend-content
                    ><CIcon name="cil-user" />
                  </template>
                </CSelect>
                <CButton col="6" color="success" @click="update()"
                  >Update info</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
      <CModal title="Banned User" color="primary" :show.sync="bannedModal">
        <CForm>
          <CSelect :value.sync="banType" :options="banOption" label="Ban Type:">
          </CSelect>
          <CTextarea
            :value.sync="commentBanned"
            label="Comment:"
            placeholder="Comment"
          >
          </CTextarea>
        </CForm>
        <template #footer>
          <CButton @click="bannedModal = false" class="btn btn-secondary"
            >Cancel</CButton
          >
          <CButton @click="banUser" color="danger">OK</CButton>
        </template>
      </CModal>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import usersData from "./UsersData";
import { CODE_SUCCESS } from "../../const";
import { USER_GENDER } from "../../const/gender";
export default {
  name: "User",
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.usersOpened = from.fullPath.includes("users");
    });
  },
  data() {
    return {
      userDetail: null,
      bannedModal: false,
      userGender: USER_GENDER,
      banType: 0,
      commentBanned: "",
      currentAlertCounter: 0,
      colorWarning: "danger",
      message: "",
      banOption: [
        { value: 0, label: "Ban 5 Days" },
        { value: 1, label: "Disable User" },
      ],
    };
  },
  created() {
    this.getUserData();
  },
  methods: {
    showAlert(message) {
      this.message = message;
      this.currentAlertCounter = 5;
      window.scrollTo(0, 0);
    },
    getUserId() {
      return this.$route.params.id;
    },
    userChart() {
      this.$router.push({ path: `${this.getUserId()}/chart` });
    },
    async update() {
      console.log("user", this.userDetail);
      this.$wait.start("loading");
      const response = await axios.put(
        process.env.VUE_APP_ROOT_API + "/users/" + this.getUserId(),
        this.userDetail,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.colorWarning = "success";
      } else if (response.data.code == CODE_REQUIRE_PARAMS) {
        this.colorWarning = "danger";
      }

      this.showAlert(response.data.message);
      this.$wait.end("loading");
    },
    goBack() {
      this.usersOpened
        ? this.$router.go(-1)
        : this.$router.push({ path: "/users" });
    },
    async banUser() {
      const response = await axios.post(
        process.env.VUE_APP_ROOT_API + "/users/banned/" + this.getUserId(),
        {
          type: this.banType,
          comment: this.commentBanned,
        },
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) this.bannedModal = false;
    },
    async getUserData() {
      const response = await axios.get(
        process.env.VUE_APP_ROOT_API + `/users/${this.getUserId()}`,
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );
      console.log("RESPONSE", response.data.code);
      if (response.data.code == CODE_SUCCESS) {
        this.userDetail = response.data.data;
      } else {
        this.goBack();
      }
    },
  },
};
</script>
