<template  slot="waiting">
  <v-wait for="loading">
    <CRow>
      <CCol col="12">
        <CCard>
          <CCardHeader> Users </CCardHeader>
          <CCardBody>
            <CDataTable
              hover
              striped
              :items="items"
              :fields="fields"
              :items-per-page="5"
              clickable-rows
              :active-page="activePage"
              @row-clicked="rowClicked"
              :pagination="{ doubleArrows: false, align: 'center' }"
              @page-change="pageChange"
            >
              <template #status="data">
                <td>
                  <CBadge :color="getBadge(data.item.status)">
                    {{ getStatusText(data.item.status) }}
                  </CBadge>
                </td>
              </template>
              <template #is_online="data">
                <td>
                  <CBadge
                    :color="data.item.is_online ? 'success' : 'secondary'"
                  >
                    {{ data.item.is_online ? "Online" : "Offline" }}
                  </CBadge>
                </td>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </v-wait>
</template>

<script>
import axois from "axios";
import usersData from "./UsersData";
import { CODE_SUCCESS } from "../../const";
export default {
  name: "Users",
  data() {
    return {
      items: usersData,
      fields: [
        { key: "code", _classes: "font-weight-bold" },
        { key: "full_name", label: "Name" },
        { key: "email" },
        { key: "phone_number" },
        { key: "status" },
        { key: "is_online", label: "Online Status" },
      ],
      activePage: 1,
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  created() {
    this.getListUser();
  },
  methods: {
    getBadge(status) {
      switch (status) {
        case 0:
          return "success";
        case 1:
          return "warning";
        case 2:
          return "secondary";
        case 3:
          return "danger";
        default:
          "primary";
      }
    },
    getStatusText(status) {
      switch (status) {
        case 0:
          return "Active";
        case 1:
          return "Warning";
        case 2:
          return "Pending Banned";
        case 3:
          return "Banned";
        default:
          "primary";
      }
    },
    rowClicked(item, index) {
      this.$router.push({ path: `users/${item.id}` });
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    async getListUser() {
      this.$wait.start("loading");
      const response = await axois.get(
        process.env.VUE_APP_ROOT_API + "/users",
        {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        }
      );

      if (response.data.code == CODE_SUCCESS) {
        this.items = response.data.data;
        this.$store.dispatch("setUserList", this.items);
      }

      this.$wait.end("loading");
    },
  },
};
</script>
